<h1> Welcome Home! <%= current_user.email if current_user %></h1>


<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %> </br>
<%= link_to "Sign up", new_user_registration_path %></br>
<%= link_to "About", about_path %></br>
<%= link_to "Sign out", destroy_user_session_path, :method => "delete" %>
