<h1>Welcome</h1>
<%= link_to "Home", root_path %>
<%= current_user && current_user.email %>
<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path unless current_user %>

<% if current_user %>
  <%= form_tag destroy_user_session_path do %>
    <%= hidden_field_tag :_method, "DELETE" %>
    <%= submit_tag "Log Out" %>
  <% end %>
<% end %>