<!DOCTYPE html>
<html>
<head>
  <title>DeviseLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<% end %>
<ul>
<% if user_signed_in? %>
  <li>
  <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Sign in', new_user_session_path)  %>  
  <%= link_to('Sign up', new_user_registration_path) %>
  </li>
  </ul>
<% end %>
<%= yield %>

</body>
</html>
