<!DOCTYPE html>
<html>
<head>
  <title>DeviseLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="navbar">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "About", about_path %></li>
  <li><%= navbar_login_for(current_user) %></li>
</ul>

<div class="errors">
  <%= error_content_tag(flash) %>
</div>

<%= yield %>

</body>
</html>
